body{
    font-family:  Verdana;
    font-size: 13px;
}

#center{
	text-align:center;
}
.right{
    float:right;
}
#right{
	float:right;
}
#left{
	float:left;
}

#googleLinechart{
    width: 87%;
    float: right;
}

.imageSizeLimit{
    max-height:500px;
    max-width:500px;
    height:auto;
    width:auto;
}

button {
	color:black;
	background-color:#F9F9F9;
	height:20px; 
	font-size: 14px;
	text-align: center;
	border: 1px solid green;
	padding: 0 8px;
	font-family:  Courier;
	/* rounded corners */
	-webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
}
button:hover {
  background-color: #C1FFC1;
  border: 1px solid green;
}

button:disabled {
  background-color: green;
  color: white;
}

table.tableCenter {
    width:80%;
    margin-left:10%; 
    margin-right:10%;
    border: 3px solid green;
    border-collapse: collapse;
}

 table.tableCenter th {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid green;
 }

 table.tableCenter td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid green;
 }

table.table2 {
	width: 42%;
    height: 37%;
	overflow:auto;
	float:left;
    border: 1px solid green;
    border-collapse: collapse;
}

table.table5, table.table6, table.table7, table.table8, table.table9  {
	width: 25%;
    height: 37%;
	overflow:auto;
	float:right;
    border: 3px solid green;
    border-collapse: collapse;
}

table.table4 {

	overflow:auto;
	float:right;
    border: 1px solid green;
    border-collapse: collapse;
}

table.table3 {
	width: 12%;
    height: 37%;
	overflow:auto;
	float:left;
    border: 1px solid green;
    border-collapse: collapse;
}

table.table2 {
	width: 42%;
    height: 37%;
	overflow:auto;
	float:left;
    border: 1px solid green;
    border-collapse: collapse;
}


table.table1 th, table.table2 th, table.table3 th, table.table4 th, 
table.table5 th, table.table6 th, table.table7 th, table.table8 th, 
table.table9 th {
    background-color: #4CAF50;
    color: white;
	padding: 8px;
    text-align: left;
    border-bottom: 1px solid green;
}
table.table1 td, table.table2 td, table.table3 td, table.table4 td,
table.table5 td, table.table6 td, table.table7 td, table.table8 td,
table.table9 td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid green;
}

tr:hover{background-color:#C1FFC1}

@media (max-width: 900px) and (orientation: portrait) {
	#content {
	    float: left;
	    width: 75%;
		margin-left:2%;
	}
	#board {
		width:125%;
	}
    #notation {
        float: right;
        width: 86%;
    }
    table.table1 {
        width: 87%;
        height: 37%;
        overflow:auto;
        border: 1px solid green;
        border-collapse: collapse;
    }	
}
@media (max-width: 900px) and (orientation: landscape) {
	#topPlay {
		margin-bottom: 140%;
	}

	#playernames {
	    width: 22%;
		float:left;
	}
	#board {
		width:230%;
	}
	#content {
	    float: left;
	    width: 25%;
	}
    #notation {
        float: right;
        width: 86%;
    }
    table.table1 {
        width: 87%;
        height: 37%;
        overflow:auto;
        border: 1px solid green;
        border-collapse: collapse;
    }
}
@media (min-width: 901px)  {
	#topPlay {
		margin-bottom: 180%;
	}

	#bottomPlay{
		margin-top: 180%;
	}
	#playernames {
	    float: left;
	    width: 12%;
	}
	#board {
		width:150%;
	}
	#content {
	    float: left;
	    width: 25%;
	}
    #notation {
        float: right;
        width: 26%;
    }
    table.table1 {
        width: 87%;
        height: 37%;
        overflow:auto;
        float:right;
        border: 1px solid green;
        border-collapse: collapse;
    }
}

#seekparameters{
	float: right;
	width: 43%;
}

#rightchat{
	float: right;
	width: 370px;
}

#chatleft {
    float: left;
    width: 21%;
}

footer {
	bottom:0;
	width:100%;
    font-family:  Courier;
	text-align: center;
	font-size:12px;
}

#nav {
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
	list-style: none;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc; 
	border-top: 1px solid #ccc; }
#nav li {
	float: left; }
#nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #069;
	border-right: 1px solid #ccc; }
#nav li a:hover {
	color: #c00;
	background-color: #fff; }


/* chessboard.js Copyright 2013 Chris Oakman Released under the MIT license https://github.com/oakmac/chessboardjs/blob/master/LICENSE */

/* clearfix */
.clearfix-7da63 {
  clear: both;
}

/* board */
.board-b72b1 {
  border: 2px solid #404040;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* square */
.square-55d63 {
  float: left;
  position: relative;

  /* disable any native browser highlighting */
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

/* white square */
.white-1e1d7 {
  background-color: #f0d9b5;
  color: #b58863;
}

/* black square */
.black-3c85d {
  background-color: #b58863;
  color: #f0d9b5;
}

/* highlighted square */
.highlight1-32417, .highlight2-9c5d2 {
  -webkit-box-shadow: inset 0 0 3px 3px yellow;
  box-shadow: inset 0 0 3px 3px yellow;
}

/* notation */
.notation-322f9 {
  cursor: default;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  position: absolute;
}
.alpha-d2270 {
  bottom: 1px;
  right: 3px;
}
.numeric-fc462 {
  top: 2px;
  left: 2px;
}
.highlight-color {
  -webkit-box-shadow: inset 0 0 3px 3px blue;
  box-shadow: inset 0 0 3px 3px blue;  
}
.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none; user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #4CAF50; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

#playerData {
	background:rgba(0, 255, 0, 0.3);
	position:fixed;
    top:70px;
    right: 20px;
	width: 160px;
  	height: 45px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 28%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}