secret/
logs/
scripts/
games/
/GoChess.exe
/main.exe
/.vscode
/debug
/debug~
/config
/backup
/privatedata
/news.html
/gitpull.sh
/main
/gochess.exe
/exports
/_webtest/debug.log
/login.html
/register.html
/stockfish
/img/plots
/weather/keys
/weather/data