<!DOCTYPE html><html lang="en"> 
<head><meta charset="utf-8"/><meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Go Play Chess - Profile</title>
<link href="css/design.css" rel="stylesheet" type = "text/css"/>
<link rel='shortcut icon' href='img/favicon.ico' type='image/x-icon'/>
</head>
<body>
<div>
	<ul id="nav">
	<li><a href="/memberHome">Main</a></li>
	<li><a href="/server/lobby">Lobby</a></li>
	<li><a href="/chess/memberChess">Chess</a></li>
	<li><a href="/database">Database</a></li>
	<li><a href="/profile">Profile</a></li>
	<li><a href="/settings">Settings</a></li>
	<li><a href="/highscores">Scores</a></li>
	<li><a href="/logout">Logout</a></li>
	</ul>
</div> 
<p>This is {{.User}}'s profile page. This profile page displays the player's rating and  past games. 
RD is rating deviation. If a rating is under 80 RD it is considered accurate. The more games played the lower the RD. 
If a player becomes inactive RD will rise over time. Result Key: Black won=0, White won=1, Draw=2</p>
<p><a href="/saved?user={{.User}}">View adjourned games</a><p>
<p>Country<img id="countryFlag" src="img/flags/globe.png"  alt="Country flag"></p>
{{ if ge .GameID 0 }}
	<p><img src="../img/icons/playing.png" alt="Playing Game">
	<a href="/chess/memberChess?spectate&id={{.GameID}}">{{.User}} vs. {{.Opponent}}</a><p>
{{ end }}	

{{ $length := len .Games }} 
{{ if eq $length 0 }}
    <center>No active games within the past 30 days have been found.</center>
{{else}}
	<table class="table1">
		<tr>
	<th>White</th><th>White Rating</th><th>Black</th><th>Black Rating</th><th>Type</th><th>Rated</th>
	<th>Time</th><th>Moves</th><th>Result</th><th>Status</th><th>Date</th><th>Time</th>
		</tr>
	{{range .Games}}
		<tr onclick="reviewGame({{.Moves}}, {{.White}}, {{.Black}}, {{.WhiteRating}}, {{.BlackRating}}, {{.TimeControl}}, {{.Result}}, {{.Date}})"> 
		<td>{{.White}}</td><td>{{.WhiteRating}}</td> <td>{{.Black}}</td><td>{{.BlackRating}}</td>
		<td>{{.GameType}}</td><td>{{.Rated}}</td><td>{{.TimeControl}}</td><td>{{.Total}}</td><td>{{.Result}}</td>
		<td>{{.Status}}</td><td>{{.Date}}</td><td>{{.Time}}</td>
		</tr>	
	{{end}}
	</table>
{{ end }}

<p><img src="img/icons/light.png" alt="lightning">Bullet : {{.Bullet}}</p>
<p>BulletRD : {{.BulletRD}}</p><br>
<p><img src="img/icons/fire.png" alt="fire">Blitz : {{.Blitz}}<p>
<p>BlitzRD : {{.BlitzRD}}</p><br>
<p><img src="img/icons/alarm.png" alt="alarm">Standard: {{.Standard}}
<p>StandardRD : {{.StandardRD}}</p>
<script src="js/profile.js"></script>
</body>
</html>