<!DOCTYPE html><html lang="en"> 
<head><meta charset="utf-8"/><meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Go Play Chess - Forum</title>
<link href="css/design.css" rel="stylesheet" type = "text/css"/>
<link rel='shortcut icon' href='img/favicon.ico' type='image/x-icon'/>
</head>
<body>
<div>
	<ul id="nav">
	<li><a href="/">Main</a></li>
	<li><a href="/login">Login</a></li>
	<li><a href="/register">Register</a></li>
	<li><a href="/screenshots">Screenshots</a></li>
    <li><a href="/forum">Forum</a></li>
	<li><a href="/help">Help</a></li>
	<li><a href="/news">News</a></li>
	</ul>
</div> 
<div>
<h3>Go Play Chess Forums</h3>
{{ $length := len . }} 
{{ if eq $length 0 }}
	<center>No threads have been found.</center>
{{else}}
	<table class="table1">
		<tr>
	<th>Title</th><th>Views</th><th>Replies</th><th colspan="2">Last Post</th>
		</tr>
		{{range . }}
			<tr> 
			<td>{{.Title}}</td><td>{{.Views}}</td><td>{{.Replies}}</td>
			<td>{{.TotalPosts}}</td><td>{{.RecentUser}}</td><td>{{.RecentDate}}</td>
			</tr>	
		{{end}}
	</table>
{{ end }}
</div><br><footer> Go Play Chess © 2016<br> Where gophers play chess. </footer>
</body>
</html>