<!DOCTYPE html><html lang="en"> 
<head><meta charset="utf-8"/><meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Go Play Chess - News</title>
<link href="css/design.css" rel="stylesheet" type = "text/css"/>
<link rel='shortcut icon' href='img/favicon.ico' type='image/x-icon'/>
</head>
<body>
<div>
	<ul id="nav">
	<li><a href="/">Main</a></li>
	<li><a href="/login">Login</a></li>
	<li><a href="/register">Register</a></li>
	<li><a href="/screenshots">Screenshots</a></li>
	<li><a href="/help">Help</a></li>
	<li><a href="/news">News</a></li>
	</ul>
</div> 
<h2>News</h2>
{{range .Providers}}
    {{range .Articles}}
        <center>
        Title: <a href="{{.Url}}" target="_blank">{{.Title}}</a><br>
        Author: {{.Author}}<br>
        Description: {{.Description}}<br>
        <img class="imageSizeLimit" src="{{.UrlToImage}}"><br>
        Published On: {{.PublishedAt}}
        </center>
        <br><br><br>
    {{end}}	
{{end}}
<br><br><br><footer>Go Play Chess &copy; 2016<br> Where gophers play chess. Powered by <a href="https://newsapi.org" target="_blank">News API</a></footer>
</body>
</html>