{{define "guestHeader"}}
<!DOCTYPE html><html lang="en"> 
<head><meta charset="utf-8"/><meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Go Play Chess - {{.PageTitle}}</title>
<link href="css/design.css" rel="stylesheet" type = "text/css"/>
<link rel='shortcut icon' href='img/favicon.ico' type='image/x-icon'/>
</head>
<body>
<div>
	<ul id="nav">
	<li><a href="/">Main</a></li>
	<li><a href="/login">Login</a></li>
	<li><a href="/register">Register</a></li>
	<li><a href="/screenshots">Screenshots</a></li>
	<li><a href="/help">Help</a></li>
	<li><a href="/news">News</a></li>
	<li><a href="/forum">Forum</a></li>
	</ul>
</div>
{{end}}