{{template "memberHeader" .}} 

<p>Search Player:<input id="playerName" type="text" maxlength="12" size="20">
<button id="searchPlayer">Search</button></p>	
<table class="table5">
<caption>Top Ten Bullet</caption>
	<tr>
<th>Rank</th><th>Player</th><th>Bullet</th>
	</tr>
{{range .Bullet}}
	<tr onclick="reviewProfile({{.Name}})"> 
	<td>{{.Index}}.</td><td>{{.Name}}</td><td>{{.Rating}}</td> 
	</tr>	
{{end}}
</table>
<table class="table6">
<caption>Top Ten Blitz</caption>
	<tr>
<th>Rank</th><th>Player</th><th>Blitz</th>
	</tr>
{{range .Blitz}}
	<tr onclick="reviewProfile({{.Name}})"> 
	<td>{{.Index}}.</td><td>{{.Name}}</td><td>{{.Rating}}</td> 
	</tr>	
{{end}}
</table>
<table class="table7">
<caption>Top Ten Standard</caption>
	<tr>
<th>Rank</th><th>Player</th><th>Standard</th>
	</tr>
{{range .Standard}}
	<tr onclick="reviewProfile({{.Name}})"> 
	<td>{{.Index}}.</td><td>{{.Name}}</td><td>{{.Rating}}</td> 
	</tr>	
{{end}}
</table>
<table class="table8">
<caption>Top Ten Correspondence</caption>
	<tr>
<th>Rank</th><th>Player</th><th>Date</th>
	</tr>
{{range .Correspondence}}
	<tr onclick="reviewProfile({{.Name}})"> 
	<td>{{.Index}}.</td><td>{{.Name}}</td><td>{{.Rating}}</td> 
	</tr>	
{{end}}
</table>
<table class="table9">
<caption>Newest Members</caption>
	<tr>
<th>Rank</th><th>Player</th><th>Date</th>
	</tr>
{{range .Recent}}
	<tr onclick="reviewProfile({{.Name}})"> 
	<td>{{.Index}}.</td><td>{{.Name}}</td><td>{{.Date}}</td> 
	</tr>	
{{end}}
</table>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../third-party/js/jquery-2.1.4.min.js">\x3C/script>')</script>
<script src="js/highscore.js"></script>
</body>
</html>