{{define "memberHeader"}}
<!DOCTYPE html><html lang="en"> 
<head><meta charset="utf-8"/><meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Go Play Chess - {{.PageTitle}}</title>
<link href="css/design.css" rel="stylesheet" type = "text/css"/>
<link rel='shortcut icon' href='img/favicon.ico' type='image/x-icon'/>
</head>
<body>
<div>
	<ul id="nav">
	<li><a href="/memberHome">Main</a></li>
	<li><a href="/server/lobby">Lobby</a></li>
	<li><a href="/chess/memberChess">Chess</a></li>
	<li><a href="/database">Database</a></li>
	<li><a href="/profile">Profile</a></li>
	<li><a href="/settings">Settings</a></li>
	<li><a href="/highscores">Scores</a></li>
	<li><a href="/engine">Engine</a></li>
	<li><a href="/forum">Forum</a></li>
	<li><a href="/audio">Audio</a></li>
	<li><a href="/shop">Shop</a></li>
	<li><a href="/mudserver/mud">Mud</a></li>
	<li><a href="/logout">Logout</a></li>
	</ul>
</div>
{{end}}