{{template "guestHeader" .}} 
<div id="center">
<noscript><h1>JavaScript is off. Please enable JavaScript to register.</h1></noscript>
<p><b>Register</b></p>
	<p> Username must be between 3-12 characters long.</p>
 	Password must be at least 5 characters long.
	<p>Username:<input type="text" id="username"  maxlength="12"><span id="user-result"></span> </p>
    <p>Password:<input type="password" id="pass"  maxlength="32"><span id="checkLen"></span></p>
	<p>Confirm Password:<input type="password" id="confirm" maxlength="32"><span id="checkPass"></span></p>
	<p>Email :<input type="email" id="email" maxlength="30"></p>
	<p>A email verification link will be sent to your email when you register.</p>
<p>Type the numbers you see in the picture below:
	<select id="lang">
		<option value="en">English</option>
		<option value="ru">Russian</option>
		<option value="zh">Chinese</option>
	</select>
</p>
<p><span id="submit-result"></span></p>
<p><img id=image src="/captcha/{{.CaptchaId}}.png" alt="Captcha image"></p>
<a href="#" id="reload">Reload</a> | <a href="#" id="playAudio">Play Audio</a>
<audio id=audio controls style="display:none" src="/captcha/{{.CaptchaId}}.wav" preload=none>
  You browser doesn't support audio.
  <a href="/captcha/download/{{.CaptchaId}}.wav">Download file</a> to play it in the external player.
</audio>
<input type=hidden id=captchaId value="{{.CaptchaId}}"><br>
<input id=captchaSolution>
<button id="register">Submit</button>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../third-party-js/jquery-2.1.4.min.js">\x3C/script>')</script>
<script src="js/register.js"></script>
</body>
</html>

