{{template "guestHeader" .}}
<p>Below are screenshots of the game lobby and chess room. Click any of the images to enlarge them in a new tab.</p><br><br>
<a href="img/screenshots/lobby.png" target="_blank">
<img id="left" src="img/screenshots/lobbyResize.png"  alt="lobby">
</a>
<a href="img/screenshots/game.png" target="_blank">
<img id="right" src="img/screenshots/gameResize.png" alt="game">
<a href="img/screenshots/profile.png" target="_blank">
<img id="left" src="img/screenshots/profileResize.png"  alt="profile">
<a href="img/screenshots/settings.png" target="_blank">
<img id="right" src="img/screenshots/settingsResize.png" alt="settings">
</a>
</a>
</body>
</html>